{% extends 'base.jinja' %}

{% block content %}
    <h2>Blog</h2>
    <form action="" method="post">
    <p>
    {{ blog_form.title.label }}<br>
    {{ blog_form.title(size=50) }}
    </p>
    <p>
    {{ blog_form.body.label }}<br>
    {{ blog_form.body(size=50) }}
    </p>
    <p>
    {{ blog_form.submit(class='btn btn-primary') }}
    </p>
    </form>
{% endblock %}