{% extends 'base.jinja' %}

{% block content %}
<h2>{{ user.username }} Profile</h2>

{% for post in posts %}
{# post.author is backref from User() same as user.username #}
    <p>{{ post.author.username }} says: {{ post.title }} {{ post.body }}</p>
{% endfor %}

{% endblock %}